<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
    <h1>User-info</h1>
    <form method="POST" th:action="@{/admin/save}" th:object="${user}" >
        <input hidden type="text" th:field="${user.id}" />

        <label for="name">Name: </label>
        <input id="name" name="name" type="text" th:field="${user.name}" />

        <label for="surname">Surname: </label>
        <input id="surname" name="surname" type="text" th:field="${user.surname}" />

        <label for="age">Age: </label>
        <input id="age" name="age" type="text" th:field="${user.age}" />

        <label for="username">Username: </label>
        <input id="username" name="username" type="text" th:field="${user.username}" />

        <label for="password">Password: </label>
        <input id="password" name="password" type="text" th:field="${user.password}" />

        <label for="roles">Roles: </label>
        <select id="roles" name="roles" th:field="${roles}" multiple>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>

        <input type="submit" value="Add" />
    </form>
</body>
</html>
